label.fake-checkbox-radio-container {
    cursor: pointer;

    > input[type=checkbox],input[type=radio] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: none;
    }

    > .checkbox {
        border-radius: 15%;
    }

    > .radio {
        border-radius: 50%;
    }

    > .checkbox, .radio {
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        border: 1px solid lightgray;
        vertical-align: top;
        box-sizing: border-box;
        padding: 0.05em;

        > svg {
            width: 100%;
            height: auto;
            display: none;
        }
        &.checked > svg {
            display: inline-block;
        }
    }
}