label.fake-checkbox-radio-container {
  cursor: pointer;
}
label.fake-checkbox-radio-container > input[type=checkbox], label.fake-checkbox-radio-container input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}
label.fake-checkbox-radio-container > .checkbox {
  border-radius: 15%;
}
label.fake-checkbox-radio-container > .radio {
  border-radius: 50%;
}
label.fake-checkbox-radio-container > .checkbox, label.fake-checkbox-radio-container .radio {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid lightgray;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0.05em;
}
label.fake-checkbox-radio-container > .checkbox > svg, label.fake-checkbox-radio-container .radio > svg {
  width: 100%;
  height: auto;
  display: none;
}
label.fake-checkbox-radio-container > .checkbox.checked > svg, label.fake-checkbox-radio-container .radio.checked > svg {
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
